{{!-- Output Passport Error --}}
{{#if error}}
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="fa fa-exclamation-circle pe-2"></i>
    <div>{{ error }}</div>
  </div>
{{/if}}

{{!-- Output App Erros --}}
{{#each errors}}
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="fa fa-exclamation-circle pe-2"></i>
    <div>{{ msg }}</div>
  </div>
  {{else}}
{{/each}}