<footer class="bg-light py-5 mt-3">
  <div class="container pt-4">
    <div class="row gx-5">
      <div class="col-lg-3 col-12 mb-3">
        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="VidJot">
          <h5>VidJot</h5>
        </a>
        <ul class="list-unstyled small text-muted">
          <li class="mb-2">Designed and built with all the love in the world by <a href="https://github.com/hassibmoddasser" class="text-decoration-none">Hassib Moddasser</a> with the help of Bootstrap, Node and Express</a>.</li>
          <li class="mb-2">Code licensed <a href="#" class="text-decoration-none" target="_blank" rel="license noopener">MIT</a></li>
          <li class="mb-2">Currently v1.0.0</li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 col-lg-offset-1 mb-3">
        <h5>Quick Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 mb-4">
        <h5>Community</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Issues</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Discussions</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Open Collective</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Slack</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Stack Overflow</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-12">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of whats new and exciting from us.</p>
          <div class="d-flex w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-danger" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>