<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VidJot</title>

  <link rel="shortcut icon" href="/img/favicon.ico">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/font/css/all.min.css">
</head>
<body>

  {{> _navbar }}

  {{> _msg }}

  <main>
    {{{ body }}}
  </main>

  <script src="/js/bootstrap.min.js"></script>
</body>
</html>