<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-4 fw-bold">VidJot</h1>
      <p class="fs-2">Designed and built with all the love in the world by <a href="https://github.com/hassibmoddasser" class="text-decoration-none">Hassib Moddasser</a> with the help of <span class="fw-bold">Bootstrap</span>, <span class="fw-bold">Node</span> and <span class="fw-bold">Express</span></a>.</p>
      <p class="fs-4">Code licensed <a href="#" class="text-decoration-none" target="_blank" rel="license noopener">MIT</a></p>
      <p class="fs-4">Currently v1.0.0</p>
    </div>
  </div>
</div>