<div class="container py-5">
  <div class="row">
    <div class="col-md-7 mx-auto">

      <%- include('../partials/errors.ejs') %> 

      <div class="mb-3">
        <a href="/idea" class="btn btn-outline-dark">Go Back</a>
      </div>

      <div class="card border-light">
        <div class="card-header bg-dark"><h1 class="h2 fw-bold text-light p-3 mb-0">Edit Idea</h1></div>
        <div class="card-body bg-light p-4">
          <form action="/idea/update/<%= idea._id %>?_method=PUT" class="needs-validation" method="POST" autocomplete="off" novalidate>
            <input type="hidden" name="_method" value="PUT">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control form-control-lg" id="title" name="title" value="<%= idea.title %>" required autofocus>
              <div class="invalid-feedback">Please provide a title</div>
            </div>
            <div class="mb-3">
              <label for="details" class="form-label">Details</label>
              <textarea class="form-control form-control-lg" rows="4" id="details" name="details" required><%= idea.details %></textarea>
              <div class="invalid-feedback">Please provide details</div>
            </div>
            <button type="submit" class="btn btn-primary px-5">Submit</button>
            <button type="reset" class="btn btn-secondary px-3">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>