<div class="container pt-4">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-ms-10 mx-auto">
      <form action="/register" class="form-signin" method="POST" autocomplete="off">
        <div class="text-center mb-4">
          <img class="mb-4 w-50" src="/img/hero.png" alt="Logo">
          <h1 class="mb-3 font-weight-normal">Sign up</h1>
        </div>

        <div class="form-floating mb-3">
          <input type="text" id="name" class="form-control form-control-lg rounded-1" name="name" placeholder="Name" value="{{ name }}" autofocus>
          <label for="name">Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" id="email" class="form-control form-control-lg rounded-1" name="email" placeholder="Email Address" value="{{ email }}">
          <label for="email">Email Address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" id="password" class="form-control form-control-lg rounded-1" name="password" placeholder="Password" value="{{ password }}">
          <label for="password">Password</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" id="confirm" class="form-control form-control-lg rounded-1" name="confirm" placeholder="Confirm Password" value="{{ confirm }}">
          <label for="confirm">Confirm Password</label>
        </div>
        <div class="d-grid gap-2 mb-2">
          <button class="btn btn-primary btn-lg rounded-1" type="submit">Sign up</button>
        </div>
        <p>Already have an account? <a href="/login" class="text-decoration-none">Sign in</a></p>
      </form>
    </div>
  </div>
</div>